# 1) Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
Expected output
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [10]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [32]:
merged_dict = dict1.copy()

In [33]:
merged_dict.update(dict2)
print(merged_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [29]:
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# 2)  Get the key of a minimum value from the following dictionary
sample_dict = { 'Physics': 82, 'Math': 65, 'history': 75 }

In [20]:
sample_dict = { 'Physics': 82, 'Math': 65, 'history': 75 }

In [35]:
sample_dict = { 'Physics': 82, 'Math': 65, 'history': 75 }
min_key = min(sample_dict, key=sample_dict.get)
print(min_key)

Math

# 3) Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.

In [38]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

In [39]:
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# 4) The given tuple is a nested tuple. write a Python program to print the value 20.

In [41]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

# 5) Write a program to unpack the following tuple into four variables and display each variable.

In [45]:
tuple1 = (10, 20, 30, 40)

a, b, c, d = tuple1

print(a)  
print(b)  
print(c)  
print(d)

10
20
30
40

# 6) Write a python program to search a given number from a list
 use this list [4,5,6,2,3,9,1,4,5,6,3]

In [47]:
numbers = [4,5,6,2,3,9,1,4,5,6,3]
search_num = int(input("Enter number to search: "))

if search_num in numbers:
    print(f"{search_num} found at index {numbers.index(search_num)}")
else:
    print(f"{search_num} not found in the list")

Enter number to search: 4
4 found at index 0

# 7) A palindrome number is a number that is same after reverse.

In [48]:
num = int(input("Enter a number: "))

if str(num) == str(num)[::-1]:
    print(f"{num} is a palindrome number")
else:
    print(f"{num} is not a palindrome number")

Enter a number: 7
7 is a palindrome number

# 8) Print multiplication table form 1 to 10 using for loops

In [1]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}", end='\t')
    print()

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	4 x 10 = 40
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	5 x 10 = 50
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	6 x 10 = 60
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	7 x 10 = 70
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	8 x 10 = 80
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81	9 x 10 = 90
10 x 1 = 10	10 x 2 = 20	10 x 3 = 30	10 x 4 = 40	10 x 5 = 50	10 x 6 = 60	10 x 7 = 70	10 x 8 = 80	10 x 9 = 90	10 x 10 = 100

# 9)  The current population of a town is 10000. The population of the town is increasing at the rate
of 10% per year. You have to write a program to find out the population at the end of each of the last 10
years. For eg current population is 10000 so the output should be like this:
#10th year - 10000
#9th year - 9000
#8th year - 8100 and so on

In [2]:
current_population = 10000

for year in range(10, 0, -1):
    print(f"{year}th year - {int(current_population)}")
    current_population /= 1.10

10th year - 10000
9th year - 9090
8th year - 8264
7th year - 7513
6th year - 6830
5th year - 6209
4th year - 5644
3th year - 5131
2th year - 4665
1th year - 4240

# 10) Display numbers from -10 to -1 using for loop

In [3]:
for num in range(-10, 0):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# 11) Print list in reverse order using a loop
use this list [1,2,3,4,5]

In [4]:
numbers = [1, 2, 3, 4, 5]

for i in range(len(numbers)-1, -1, -1):
    print(numbers[i])

5
4
3
2
1